body {
}

caption {
    color: #490653;
    text-align: center;
    caption-side: top;
    font-size: 1.3rem;
}


.table-hover tbody tr:hover {
    color: #ff0000;
    font-size: 1.3rem;
    background-color: #00ff90;
}

.MyTable {
    overflow: auto;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: #6c757d;
    content: ">";
}

.jumbotron {
    background-image: url('../BackgroundImg/HomeBooks.jpg');
    background-repeat: round;
}

.text-shadow {
    text-shadow: 2px 2px 3px black;
}